<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz1project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="UniClubZ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".finalscreen"
            android:label="finalscreen"
            android:parentActivityName=".fourthscreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz1project.University_Affiliation" />
        </activity>
        <activity
            android:name=".fourthscreen"
            android:label="fourthscreen"
            android:parentActivityName=".laststop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz1project.laststop" />
        </activity>

        <activity
            android:name=".laststop"
            android:label="laststop"
            android:parentActivityName=".University_Affiliation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz1project.University_Affiliation" />
        </activity>
        <activity
            android:name=".University_Affiliation"
            android:label="University_Affiliation"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.quiz1project.University_Affiliation" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>